@import '../../styles/contants.scss';

.wrapper{


    .container{
        position: relative;
        z-index: 1;

        .upperElements{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .lowerElements{
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .experience{
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2){
                    line-height: 25px;
                }
            }
        }
        .person{
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-image: url('../../assets/splash.png');
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 33%;
        }
    }
}