@import '../../styles//contants.scss';

.wrapper{
    background-color: #fff;

    .container{
        gap: 2rem;

        .left{
            flex: 3;

            >*{
                display: block;

            }

            >:nth-child(2){

                margin-top: 3rem;//mt3r
                a{
                    text-decoration: underline;//tdu
                    color: #ffa500;
                }
            }
        }
    }
}